/* Header Style */
header {
    position: fixed;
    z-index: 99999;
    width: 100%;
    background-color: transparent!important;
    border-bottom: 1px solid rgba(250,250,250,0.30);
    height: 80px;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    bottom: 0%;
    top: 0%;
}

.background-header {
    background-color: #fff!important;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}
.background-header .navbar-brand h2 {
    color: #1e1e1e!important;
}
.background-header .navbar-nav a.nav-link {
    color: #1e1e1e!important;
}
.background-header .functional-buttons	ul li:first-child a {
    display: inline-block;
    background-color: transparent;
    border: 2px solid #00bcd4;
    text-transform: uppercase;
    font-size: 13px;
    color: #00bcd4;
    padding: 6px 20px;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
.background-header .functional-buttons	ul li:first-child a:hover {
    color: #fff;
    background-color: #00bcd4;
    border-color: #00bcd4;
}
.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
    color: #00bcd4!important;
}

.navbar-expand-lg {
    flex-wrap: row nowrap;
    justify-content: flex-start;
}

.navbar .navbar-brand {
    float: 	left;
    margin-top: 12px;
    outline: none;
}
.navbar .navbar-brand h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.login-badge {
    color: #fff;
    /* text-transform: uppercase; */
    font-size: 40px;
    font-weight: 800;
    text-decoration: none;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.navbar .navbar-brand h2 em {
    font-style: normal;
    font-size: 16px;
}
#navbarResponsive {
    z-index: 999;
}
.navbar-collapse {
    text-align: center;
}
.navbar .navbar-nav .nav-item {
    margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #fff;
    transition: all 0.5s;
    margin-top: 5px;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
    color: #00bcd4;
}
.navbar .navbar-toggler-icon {
    background-image: none;
}
.navbar .navbar-toggler {
    border-color: #fff;
    background-color: #fff;
    height: 36px;
    outline: none;
    border-radius: 0px;
    position: absolute;
    right: 30px;
    top: 20px;
}
.navbar .navbar-toggler-icon:after {
    content: '\f0c9';
    color: #00bcd4;
    font-size: 18px;
    line-height: 26px;
    font-family: 'FontAwesome';
}
.functional-buttons {
    margin-left: 5%;
}
.functional-buttons	ul {
    margin: 0;
    padding: 0;
}
.functional-buttons	ul li {
    display: inline-block;
    margin-left: 10px;
}
.functional-buttons	ul li:first-child a {
    display: inline-block;
    background-color: transparent;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 6px 20px;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
.functional-buttons	ul li:first-child a:hover {
    color: #00bcd4;
    background-color: #fff;
}
.functional-buttons	ul li:last-child a {
    display: inline-block;
    background-color: #00bcd4;
    border: 2px solid #00bcd4;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 6px 20px;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
.functional-buttons	ul li:last-child a:hover {
    background-color: #00a4b9;
    border-color: #00a4b9;
}
.banner {
    background-image: url("/resources/images/banner-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 657px;
    background-position: center center;
}

.loginfone{
    background-color: #fff;
    border-radius: 5%;
}

.regfone{
    background-color: #fff;
    height: 1%;
}

.navbar-color{
    background: linear-gradient(145deg, rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%);
}

.navbuttons{
    align-items: flex-end;
}

.cart-color{
    color: #fff;
    margin-right: 1rem;
}

.login-container{
    padding-top: 150px;
}

.section-heading{
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.central-text{
    color: #fff;
}
.heading{
    text-align: center;
    padding-top: 225px;
}
.bol{
    align-items: center;
}
.tariff-name{
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    width: 275px;
    margin: auto;
}
.tariffname{
    padding-top: 70px;
    margin-bottom: 45px;
}
.cost{
    background: linear-gradient(145deg, rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%);
    width: 140px;
    padding: 30px 0px;
    margin: auto;
    margin-bottom: 60px;
}
.dev{
    width: 100%;
    height: 1px;
    background-color: #eee;
    margin: 35px 0px 30px 0px;
}

.option-list{
    margin: auto;
    width: 150px;
}