<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update option</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/options/{id}(id=${option.getId()})}" th:object="${option}">
    <label for="name">Enter option name: </label>
    <input type="text" th:field="*{optionName}" id="name"/>
    <br/>
    <label for="cost">Enter option cost</label>
    <input type="text" th:field="*{optionCost}" id="cost"/>
    <br/>
    <label for="connection">Enter cost of connection</label>
    <input type="text" th:field="*{connectionCost}" id="connection"/>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>