<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update option</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br>
<div class="container">
    <form th:method="PATCH" th:action="@{/options/{id}(id=${option.getId()})}" th:object="${option}">
        <label for="name">Enter option name: </label>
        <input type="text" th:field="*{optionName}" id="name"/>
        <br/>
        <label for="cost">Enter option cost</label>
        <input type="text" th:field="*{optionCost}" id="cost"/>
        <br/>
        <label for="connection">Enter cost of connection</label>
        <input type="text" th:field="*{connectionCost}" id="connection"/>
        <br/>
        <label for="category">Select category:</label>
        <select th:field="*{category}" id="category">
            <option th:each="cat : ${T(ru.tkachenko.ecare.models.enums.Category).values()}"
                    th:value="${cat}" th:text="${cat}"></option>
        </select>
        <br/>
        <button class="btn btn-outline-success" type="submit">Update!</button>
    </form>
</div>

</body>
</html>