<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>New option</title>
</head>
<body>
<p align="right"><a align="right" th:href="@{/clients}">Home</a></p>

<form th:method="POST" th:action="@{/options}" th:object="${option}">
    <label for="name">Enter option name: </label>
    <input type="text" th:field="*{optionName}" id="name"/>
    <br/>
    <label for="cost">Enter option cost</label>
    <input type="text" th:field="*{optionCost}" id="cost"/>
    <br/>
    <label for="connection">Enter cost of connection</label>
    <input type="text" th:field="*{connectionCost}" id="connection"/>
    <br/>
    <label for="category">Select category:
        <select th:field="*{category}" id="category">
            <option th:each="cat : ${T(ru.tkachenko.ecare.models.enums.Category).values()}"
                    th:value="${cat}" th:text="${cat}"></option>
        </select>
    </label>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>