<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Option</title>
</head>
<body>

<p>Option name: <span th:text="${option.getOptionName()}">OPTION</span></p>
<p>Option cost: <span th:text="${option.getOptionCost()}">COST</span></p>
<p>Connection cost: <span th:text="${option.getConnectionCost()}">CONNECTION COST</span></p>

<a th:href="@{/options/{id}/edit (id=${option.getId()})}" sec:authorize="hasAuthority('ADMIN')">Edit option</a>

<form th:method="DELETE" th:action="@{/options/{id} (id=${option.getId()})}" th:object="${option}"
      sec:authorize="hasAuthority('ADMIN')">
    <input type="submit" value="Delete!"/>
</form>

</body>
</html>