<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tariffs</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br>
<div class="container">
    <div class="row" th:each="tariff: ${tariffs}"
         th:if="${contract.getTariffDTO()} == null or ${!contract.getTariffDTO().equals(tariff)}">
        <div class="col">
            <p>Tariff: <span th:text="${tariff.getTariffName()}">Tariff</span></p>
        </div>
        <div class="col">
            <form th:method="PATCH" th:action="@{/contracts/{id}/change_tariff (id=${contract.getId()})}">
                <button class="btn btn-outline-primary" type="submit" th:value="${tariff.getId()}" name="tariff">Select
                    tariff
                </button>
            </form>
        </div>
    </div>
</div>

</body>
</html>