<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update contract</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/contracts/{id}(id=${contract.getId()})}" th:object="${contract}">
    <label for="number">Enter number: </label>
    <input type="text" th:field="*{number}" id="number"/>
    <br/>
    <label for="options">Choose options</label>
    <input type="text" th:field="*{options}" id="options"/>
    <br/>
    <label for="client">Client</label>
    <input type="text" th:field="*{clientDTO.id}" id="client"/>
    <br/>
<!--    <label for="tariff">Choose tariff</label>-->
<!--    <input type="hidden" th:field="*{tariff}" id="tariff"/>-->
<!--    <br/>-->

    Contract's status<br>
    <input type="radio" th:field="*{status}" value="false" checked>Unblocked
    <input type="radio" th:field="*{status}" value="true">Blocked
    <br>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>