<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update contract</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/contracts/{id}(id=${contract.getId()})}">
    <label for="number">Enter number: </label>
    <input type="text" th:field="*{contract.number}" id="number"/>
    <br/>
    <label for="options">Choose options</label>
    <input type="text" th:field="*{contract.options}" id="options"/>
    <br/>
    <input type="hidden" th:field="*{contract.clientDTO.id}"/>

    <label for="tariff">Tariff</label>
    <select th:field="*{contract.tariffDTO.id}" id="tariff">
        <option th:each="tariff : ${tariffs}" th:value="${tariff.getId()}" th:text="${tariff.getTariffName()}">tariff
        </option>
    </select>
    <br/>
    Contract's status<br>
    <label>
        <input type="radio" th:field="*{contract.status}" value="false" checked>Unblocked
        <input type="radio" th:field="*{contract.status}" value="true">Blocked
    </label>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>