<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update contract</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/contracts/{id}/cart (id=${contract.getId()})}">
    <p>Number: <span th:text="${contract.getNumber()}">NUMBER</span></p>
    <input type="hidden" th:field="*{contract.number}"/>
    <input type="hidden" th:field="*{contract.clientDTO.id}"/>

    <label for="tariff">Tariff: </label>
    <select th:field="*{contract.tariffDTO.id}" id="tariff">
        <option th:each="tariff : ${tariffs}" th:value="${tariff.getId()}" th:text="${tariff.getTariffName()}">tariff
        </option>
    </select>
    <br>
    <table>
        <tr>
            <td th:each="cat: ${T(ru.tkachenko.ecare.models.enums.Category).values()}">
                <p th:text="${cat}">Categories: </p>
                <label for="options">
                    <select name="options">
                        <option th:value="''">Select option</option>
                        <option th:each="option: ${options}"
                                th:if="${contract.getTariffDTO().getOptionAvailableSet().contains(option)}
                                and ${option.getCategory().equals(cat)}"
                                th:value="${option.getId()}"
                                th:text="${option.getOptionName()}"
                                th:selected="${contract.getOptionDTOSet().contains(option)}" id="options">Option
                        </option>
                    </select>
                </label>
            </td>
        </tr>
    </table>
    <hr>
    <input type="submit" value="Put to cart!"/>
</form>

</body>
</html>