<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New contract</title>
</head>
<body>

<form th:method="POST" th:action="@{/contracts}" th:object="${contract}">
    <label for="number">Enter number: </label>
    <input type="text" th:field="*{number}" id="number">
    <br/>
    <label for="clientid"></label>
    <input type="hidden" th:field="*{clientDTO.id}" id="clientid"/>
    <br/>

    <input type="submit" value="Create!"/>
</form>

</body>
</html>