<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update client</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/clients/{id}(id=${client.getId()})}" th:object="${client}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="surname">Enter surname</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br>
    <label for="birthday">Enter date of birth</label>
    <input type="text" th:field="*{dateOfBirth}" id="birthday"/>
    <br>
    <label for="passport">Enter number of passport</label>
    <input type="text" th:field="*{numberOfPassport}" id="passport"/>
    <br>
    <label for="address">Enter address</label>
    <input type="text" th:field="*{address}" id="address"/>
    <br>
    <label for="email">Enter e-mail</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <input type="hidden" th:field="*{password}" id="password">

    <input type="hidden" th:field="*{role}" id="role">

    Client's status<br>
    <input type="radio" th:field="*{status}" value="false" checked>Unblocked
    <input type="radio" th:field="*{status}" value="true">Blocked
    <br>

    <input type="submit" value="Update!"/>
</form>

</body>
</html>