<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New client</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br>
<div class="container">
    <form th:method="POST" th:action="@{/clients}" th:object="${client}">
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error message</div>
        <br>
        <label for="surname">Enter surname: </label>
        <input type="text" th:field="*{surname}" id="surname"/>
        <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Error message</div>
        <br>
        <label for="email">Enter e-mail: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <br>
        <label for="password">Enter password: </label>
        <input type="password" th:field="*{password}" id="password">

        <input type="hidden" th:field="*{dateOfBirth}"/>
        <input type="hidden" th:field="*{numberOfPassport}"/>
        <input type="hidden" th:field="*{address}"/>
        <input type="hidden" th:field="*{role}">
        <br>
        <input type="submit" value="Create!"/>
    </form>
</div>

</body>
</html>