<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
</head>
<body>

<p th:text="'ID:       ' + ${client.getId()}">ID</p>
<p th:text="'NAME:     ' + ${client.getName()}">NAME</p>
<p th:text="'SURNAME:  ' + ${client.getSurname()}">SURNAME</p>
<p th:text="'BIRTHDAY: ' + ${client.getDateOfBirth()}">BIRTHDAY</p>
<p th:text="'PASSPORT: ' + ${client.getNumberOfPassport()}">PASSPORT</p>
<p th:text="'ADDRESS:  ' + ${client.getAddress()}">ADDRESS</p>
<p th:text="'E-MAIL:   ' + ${client.getEmail()}">E-MAIL</p>
<p th:if="${client.isStatus()}">STATUS</p>
<hr>
<div th:each="contract : ${client.getContractSetDTO()}">
    <a th:href="@{/contracts/{id} (id=${contract.getId()})}" th:text="${contract.getNumber()}">Contracts</a>
</div>
<hr>
<a th:href="@{/clients/{id}/edit (id=${client.getId()})}">edit client</a>

<form th:method="DELETE" th:action="@{/clients/{id} (id=${client.getId()})}" th:object="${client}">
    <input type="submit" value="Delete!"/>
</form>
<hr>
<a th:href="@{/clients/all}">Clients</a>
<a th:href="@{/contracts/all}">Contracts</a>
<a th:href="@{/tariffs}">Tariffs</a>
<a th:href="@{/options}">Options</a>
<hr>
<form th:action="@{/contracts}" th:method="GET">
    <label for="login">Search user with number: </label>
    <input required type="text" id="login" name="number"/>
    <input type="submit" value="Search!"/>
</form>
<hr>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out"/>
</form>

</body>
</html>