<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Client</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-2">
            <nav class="nav flex-column">
                <br>
                <a class="nav-link" th:href="@{/clients/all}" sec:authorize="hasAuthority('ADMIN')">Clients</a>
                <a class="nav-link" th:href="@{/contracts/all}" sec:authorize="hasAuthority('ADMIN')">Contracts</a>
                <a class="nav-link" th:href="@{/tariffs/all}" sec:authorize="hasAuthority('ADMIN')">Tariffs</a>
                <a class="nav-link" th:href="@{/options}" sec:authorize="hasAuthority('ADMIN')">Options</a>
                <a class="nav-link" th:href="@{/clients/{id}/edit (id=${client.getId()})}">Edit profile</a>
            </nav>
        </div>
        <div class="col">
            <br>
            <p>Name: <span th:text="${client.getName()}">NAME</span></p>
            <p>Surname: <span th:text="${client.getSurname()}">SURNAME</span></p>
            <p>Birthday: <span th:text="${client.getDateOfBirth()}">BIRTHDAY</span></p>
            <p>Passport: <span th:text="${client.getNumberOfPassport()}">PASSPORT</span></p>
            <p>Address: <span th:text="${client.getAddress()}">ADDRESS</span></p>
            <p>e-mail: <span th:text="${client.getEmail()}">E-MAIL</span></p>
        </div>
        <div class="col">
            <br>
            <fieldset>
                <legend>Contracts:</legend>
            <br>
            <div th:each="contract : ${client.getContractSetDTO()}">
                <a th:href="@{/contracts/{id} (id=${contract.getId()})}" th:text="${contract.getNumber()}">Contracts</a>
                <br>
            </div>
            <form th:action="@{/contracts/{id}/new (id=${client.getId()})}"
                  sec:authorize="hasAuthority('ADMIN')">
                <button class="btn btn-outline-primary">New contract</button>
            </form>
            </fieldset>
        </div>
    </div>
</div>

</body>
</html>