<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
</head>
<body>

<p>Name: <span th:text="${client.getName()}">NAME</span></p>
<p>Surname: <span th:text="${client.getSurname()}">SURNAME</span></p>
<p>Birthday: <span th:text="${client.getDateOfBirth()}">BIRTHDAY</span></p>
<p>Passport: <span th:text="${client.getNumberOfPassport()}">PASSPORT</span></p>
<p>Address: <span th:text="${client.getAddress()}">ADDRESS</span></p>
<p>e-mail: <span th:text="${client.getEmail()}">E-MAIL</span></p>

<a th:href="@{/clients/{id}/edit (id=${client.getId()})}">Edit client</a>

<form th:method="DELETE" th:action="@{/clients/{id} (id=${client.getId()})}" th:object="${client}"
      sec:authorize="hasAuthority('ADMIN')">
    <input type="submit" value="Delete!"/>
</form>
<hr>
<p>Contracts:</p>
<div th:each="contract : ${client.getContractSetDTO()}">
    <a th:href="@{/contracts/{id} (id=${contract.getId()})}" th:text="${contract.getNumber()}">Contracts</a>
    <br>
</div>
<form th:action="@{/contracts/{id}/new (id=${client.getId()})}"
      sec:authorize="hasAuthority('ADMIN')">
    <button>New contract</button>
</form>
<hr>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out"/>
</form>

</body>
</html>