<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update tariff</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/tariffs/{id}(id=${tariff.getId()})}">

    <label for="name">Enter tariff name: </label>
    <input type="text" th:field="*{tariff.tariffName}" id="name"/>
    <br/>
    <label for="cost">Enter tariffs cost</label>
    <input type="text" th:field="*{tariff.tariffCost}" id="cost"/>
    <br/>
    <label for="options">Select available options:</label>
    <input type="hidden" th:value="''" name="options">
    <table>
        <tr>
            <td th:each="cat: ${T(ru.tkachenko.ecare.models.enums.Category).values()}">
                <p th:text="${cat}">Categories: </p>
                <p th:each="option: ${options}">
                    <input type="checkbox" th:if="${option.getCategory().equals(cat)}" th:value="${option.getId()}"
                           th:text="${option.getOptionName()}"
                           th:checked="${tariff.getOptionAvailableSet().contains(option)}" id="options" name="options"/>

                </p>
            </td>
        </tr>
    </table>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>