<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New tariff</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.css"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<br>
<div class="container">
    <form th:method="POST" th:action="@{/tariffs}" th:object="${tariff}">
        <label for="name">Enter tariff name: </label>
        <input type="text" th:field="*{tariffName}" id="name"/>
        <br/>
        <label for="cost">Enter tariffs cost</label>
        <input type="text" th:field="*{tariffCost}" id="cost"/>
        <br/>
        <button class="btn btn-outline-success" type="submit">Create!</button>
    </form>
</div>

</body>
</html>