<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Tariff</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.css">
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<br>
<div class="container">
    <p>Tariff name: <span th:text="${tariff.getTariffName()}">TARIFF</span></p>
    <p>Tariff cost: <span th:text="${tariff.getTariffCost()}">TARIFF COST</span></p>
    <p>Available options: </p>
    <ul th:each="option: ${tariff.getOptionAvailableSet()}">
        <li><a th:href="@{/options/{id} (id=${option.getId()})}" th:text="${option.getOptionName()}">Options</a></li>
    </ul>

    <a th:href="@{/tariffs/{id}/edit (id=${tariff.getId()})}" sec:authorize="hasAuthority('ADMIN')">Edit tariff</a>

    <form th:method="DELETE" th:action="@{/tariffs/{id} (id=${tariff.getId()})}" th:object="${tariff}"
          sec:authorize="hasAuthority('ADMIN')">
        <button class="btn btn-outline-primary" type="submit">Delete!</button>
    </form>
</div>

</body>
</html>