<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>All tariffs</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.css"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<br>
<div class="container">
    <div th:each="tariff : ${tariffs}">
        <a th:href="@{/tariffs/{id} (id=${tariff.getId()})}" th:text="${tariff.getTariffName()}">tariff</a>
    </div>
    <hr/>
    <a th:href="@{/tariffs/new}" sec:authorize="hasAuthority('ADMIN')">New tariff</a>
</div>

</body>
</html>