<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tariff</title>
</head>
<body>

<p th:text="${tariff.getId()}">VALUE</p>
<p th:text="${tariff.getTariffName()}">VALUE</p>
<p th:text="${tariff.getTariffCost()}">VALUE</p>

<a th:href="@{/tariffs/{id}/edit (id=${tariff.getId()})}">edit tariff</a>

<form th:method="DELETE" th:action="@{/tariffs/{id} (id=${tariff.getId()})}" th:object="${tariff}">
    <input type="submit" value="Delete!"/>
</form>

</body>
</html>