<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container" style="align-content: center">
    <br>
    <h2>HTTP Status 500</h2>
    <h4>Oops! Something strange has happened</h4>
</div>
</body>
</html>