<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.css"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<br>
<div class="container">
    <p th:if="${session.contract} == null">Cart is empty!</p>
    <div th:if="${session.contract} != null">
        <p>Selected options:</p>
        <div class="row" th:each="option: ${session.contract.getOptionDTOSet()}">
            <div class="col">
                <ul>
                    <li><a th:href="@{/options/{id} (id=${option.getId()})}"
                           th:text="${option.getOptionName()}">Option</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <form th:method="DELETE" th:action="@{/contracts/delete_from_cart}">
                    <button class="btn btn-outline-success" type="submit" th:value="${option.getId()}" name="option">
                        Delete
                    </button>
                </form>
            </div>
        </div>
        <form th:method="PATCH" th:action="@{/contracts/confirm/{id} (id=${session.contract.getId()})}"
              th:object="${session.contract}">
            <button class="btn btn-outline-success" type="submit">Confirm!</button>
        </form>
    </div>
</div>

</body>
</html>