<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.css"/>
</head>
<body>
<br>
<br>
<div class="container">
    <h3>Registration form</h3>
    <form th:method="POST" th:action="@{/registration}" th:object="${client}">
        <label for="email">Enter e-mail</label>
        <input type="text" th:field="*{email}" id="email"/>
        <br>
        <label for="password">Enter password</label>
        <input type="password" th:field="*{password}" id="password">
        <br>
        <label for="name">Enter your name</label>
        <input type="text" th:field="*{name}" id="name">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error message</div>
        <br>
        <label for="surname">Enter your surname</label>
        <input type="text" th:field="*{surname}" id="surname">
        <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Error message</div>

        <input type="hidden" th:field="*{dateOfBirth}"/>
        <input type="hidden" th:field="*{numberOfPassport}"/>
        <input type="hidden" th:field="*{address}"/>
        <br>
        <button class="btn btn-outline-success" type="submit">Registration!</button>
    </form>
</div>
</body>
</html>