<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form th:method="POST" th:action="@{/registration}" th:object="${client}">
    <label for="email">Enter e-mail</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <label for="password">Enter password</label>
    <input type="text" th:field="*{password}" id="password">
    <br>
    <label for="name">Enter your name</label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="surname">Enter your surname</label>
    <input type="text" th:field="*{surname}" id="surname">

    <input type="hidden" th:field="*{dateOfBirth}"/>
    <input type="hidden" th:field="*{numberOfPassport}"/>
    <input type="hidden" th:field="*{address}"/>
    <br>
    <input type="submit" value="Registration!"/>
</form>

</body>
</html>