<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>

<p th:text="${admin.getId()}">VALUE</p>
<p th:text="${admin.getLogin()}">VALUE</p>
<p th:text="${admin.getPassword()}">VALUE</p>

<a th:href="@{/admins/{id}/edit (id=${admin.getId()})}">edit admin</a>

<form th:method="DELETE" th:action="@{/admins/{id} (id=${admin.getId()})}" th:object="${admin}">
    <input type="submit" value="Delete!"/>
</form>

</body>
</html>